doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Gulp - Jeet 5 Template
		link(href="assets/css/main.css", rel="stylesheet")
	body
		header
			h1 Gulp - Jeet 5 Template
			
